<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  </head>
  
  <body>
    hello world! <br>
    [@cdcb_hw]
    	${value}<br>
    [/@cdcb_hw]
    [@cdcb_hw2]
    	${value}<br>
    [/@cdcb_hw2]
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
       	$.ajax({
           	url:'index1.html',
			type:'post',
			data:JSON.stringify({"sssss":"横说竖说"}),
			dataType:'text',
            contentType: "application/json",
			success:function(data){
       			console.log(data);
			}
        });
       	console.log(JSON.stringify({"sssss":"横说竖说"}))
    </script>
  </body>
</html>
